[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"

[dev-packages]
genomics = {path = ".", editable = true}
"e1839a8" = {path = ".", editable = true}

[requires]
python_version = "3.4"
